<div id="cookielaw" name="cookielaw" class="cookielaw">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 cookielaw-div">
                <div class="cookielaw-text">
                    <span>{{ 'cookie_law_alert' | translate }}<br>{{ 'cookie_law_alert_2' | translate }}</span>
                    <a href="#!/privacy-statement/#maintop" id="cookielaw-link"> {{ 'Find_out_more_here' | translate }} </a>
                </div>
            </div>
            <div class="col-xs-2 text-right">
                <a ng-click="closeCookieLaw()" class="cookielaw-close-icon text-right"></a>
            </div>
        </div>
    </div>
</div>
